.product-heading{
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    font-weight: 400;
    background: linear-gradient(180deg, #F21299 0%, #1B02B5 100%);
    color: #FFFFFF;
    width: 70rem;

}